<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title mode="ios">
      Historial
    </ion-title>


    <ion-buttons slot="end">
      <ion-button (click)="enviarCorreo()" color="primary">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>



<ion-content>



  <ion-slides mode="ios" *ngIf="dataLocal.registros.length === 0" [options]="slideOpt">
    <ion-slide>
      <ion-card>
        <ion-img class="empty-state-img ion-padding" src="/assets/error.svg"></ion-img>
        <ion-card-header>
          <ion-card-title>No hay registro de escaneos</ion-card-title>
          <br>
          <ion-card-subtitle>
            <ion-button (click)="onClick()" expand="block" shape="round" fill="outline">
            Escanear!!!
          </ion-button>
        </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>



  <ion-list *ngIf="dataLocal.registros.length > 0">
    <ion-item detail *ngFor="let registro of dataLocal.registros" (click)="abrirRegistro( registro )">
      <ion-icon slot="start" [name]="registro.icon" color="primary"></ion-icon>
      <ion-label>
        <h2>{{ registro.text }}</h2>
        <p>{{ registro.created | date: 'medium' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
